[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pathlib = "*"
sklearn = "*"
pillow = "*"
fastapi = {extras = ["all"], version = "*"}
black = "*"

[dev-packages]
ipykernel = "*"
black = "*"

[requires]
python_version = "3.9"

[scripts]
local-server = "uvicorn main:app --reload --host localhost --port 8000"

[pipenv]
allow_prereleases = true
