fastapi[all]==0.78.0
numpy==1.22.4
pandas==1.5.3
pathlib==1.0.1
torch==2.1.0
torchvision==0.16.0
efficientnet-pytorch==0.7.1
Pillow==9.4.0
requests==2.26.0
uvicorn[standard]==0.17.6
gunicorn==21.2.0
supabase==2.3.0
scikit-learn==1.2.2
scipy==1.11.4